@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/loginStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

@* <body>
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="wrapper">
            <form action="">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username"
                        required />
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password"
                        required />
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="remember-forgot">
                    <labal><input type="checkbox">Remember me</labal>
                    <a href="#">Forgot password?</a>
                </div>

                <button tpye="submit" class="loginButton">Login</button>

                <div class="register-link">
                    <p>Don't have an account?
                        <a href="#">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body> *@




